alabaster
altgraph
asn1crypto
atomicwrites
attrs
Babel
backports.functools-lru-cache
bdist-mpkg
bootstrap-py
certifi
cffi
chardet
configparser
contextlib2
cryptography
defusedxml
distlib
Django
docutils
enum34
filelock
funcsigs
future
geographiclib
geoip2
geopy
gitdb2
GitPython
idna
imagesize
importlib-metadata
importlib-resources
ipaddress
Jinja2
macholib
MarkupSafe
matplotlib
maxminddb
modulegraph
more-itertools
numpy
packaging
pathlib2
pguard
pip
platformdirs
pluggy
py
py2app
pycparser
Pygments
pyOpenSSL
pyparsing
pytest
python-dateutil
pytz
requests
scandir
scipy
setuptools
singledispatch
six
smmap
smmap2
snowballstemmer
Sphinx
sphinxcontrib-websupport
typing
urllib3
virtualenv
wcwidth
wheel
xattr
zipp
